@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
footer {
  color: white;
  background-color: #080808;
  padding: 30px;
  display: flex;
  justify-content: space-evenly; }

.nav, nav {
  background-image: linear-gradient(to right, #349744, #187427, #064b0c);
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 125%; }

.nav-a, nav {
  text-decoration: none;
  color: white; }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #141414; }

footer img {
  width: 30%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
