@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
/*para etiquetas y clases con etiquetas*/
footer {
  color: white;
  background-color: #080808;
  padding: 30px;
  display: flex;
  justify-content: space-evenly; }

.main-index img {
  width: 85%;
  display: block;
  margin: auto;
  padding: 100px; }

.main-index h1 {
  color: white;
  text-align: center;
  font-size: 150%;
  padding-bottom: 110px; }

.section-productos h1 {
  margin-bottom: 30px; }

.section-productos-div:hover {
  width: 50%; }

.section-productos-div h2 {
  font-size: 220%;
  border-bottom: 2px solid #009c05;
  padding: 10px;
  background-color: rgba(7, 0, 110, 0.1); }

.section-productos-div p {
  font-size: 120%; }

.section-nosotros h2 {
  margin-bottom: 20px; }

/*para clases*/
.nav, nav {
  background-image: linear-gradient(to right, #349744, #187427, #064b0c);
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 125%; }

.nav-a, nav {
  text-decoration: none;
  color: white; }

.main-section-arriba {
  background-image: url(../img/background-main.png);
  border-bottom: 3px solid #4e5aff; }

.section-productos {
  color: white;
  text-align: center;
  margin-top: 30px; }

.section-productos-div {
  border: 5px solid #c4c4c4;
  width: 40%;
  margin: auto;
  box-shadow: 0px 10px 20px black;
  border-radius: 6px;
  margin-bottom: 30px;
  transition: width .2s; }

.section-productos-div-parrafos {
  padding: 15px;
  background-color: rgba(7, 0, 110, 0.1); }

.section-nosotros {
  color: white;
  width: 85%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
  border: 2px solid #009c05;
  border-radius: 7px;
  font-size: 150%; }

.section-nosotros-h2 {
  margin-top: 20px; }

/*para clases*/
.nav, nav {
  background-image: linear-gradient(to right, #349744, #187427, #064b0c);
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 125%; }

.nav-a, nav {
  text-decoration: none;
  color: white; }

.main-section-arriba {
  background-image: url(../img/background-main.png);
  border-bottom: 3px solid #4e5aff; }

.section-productos {
  color: white;
  text-align: center;
  margin-top: 30px; }

.section-productos-div {
  border: 5px solid #c4c4c4;
  width: 40%;
  margin: auto;
  box-shadow: 0px 10px 20px black;
  border-radius: 6px;
  margin-bottom: 30px;
  transition: width .2s; }

.section-productos-div-parrafos {
  padding: 15px;
  background-color: rgba(7, 0, 110, 0.1); }

.section-nosotros {
  color: white;
  width: 85%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
  border: 2px solid #009c05;
  border-radius: 7px;
  font-size: 150%; }

.section-nosotros-h2 {
  margin-top: 20px; }

/*para clases*/
.nav, nav {
  background-image: linear-gradient(to right, #349744, #187427, #064b0c);
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 125%; }

.nav-a, nav {
  text-decoration: none;
  color: white; }

.main-section-arriba {
  background-image: url(../img/background-main.png);
  border-bottom: 3px solid #4e5aff; }

.section-productos {
  color: white;
  text-align: center;
  margin-top: 30px; }

.section-productos-div {
  border: 5px solid #c4c4c4;
  width: 40%;
  margin: auto;
  box-shadow: 0px 10px 20px black;
  border-radius: 6px;
  margin-bottom: 30px;
  transition: width .2s; }

.section-productos-div-parrafos {
  padding: 15px;
  background-color: rgba(7, 0, 110, 0.1); }

.section-nosotros {
  color: white;
  width: 85%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
  border: 2px solid #009c05;
  border-radius: 7px;
  font-size: 150%; }

.section-nosotros-h2 {
  margin-top: 20px; }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #141414; }

/*para clases*/
.nav, nav {
  background-image: linear-gradient(to right, #349744, #187427, #064b0c);
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 125%; }

.nav-a, nav {
  text-decoration: none;
  color: white; }

.main-section-arriba {
  background-image: url(../img/background-main.png);
  border-bottom: 3px solid #4e5aff; }

.section-productos {
  color: white;
  text-align: center;
  margin-top: 30px; }

.section-productos-div {
  border: 5px solid #c4c4c4;
  width: 40%;
  margin: auto;
  box-shadow: 0px 10px 20px black;
  border-radius: 6px;
  margin-bottom: 30px;
  transition: width .2s; }

.section-productos-div-parrafos {
  padding: 15px;
  background-color: rgba(7, 0, 110, 0.1); }

.section-nosotros {
  color: white;
  width: 85%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
  border: 2px solid #009c05;
  border-radius: 7px;
  font-size: 150%; }

.section-nosotros-h2 {
  margin-top: 20px; }

footer img {
  width: 30%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
