@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import "../scss/variables.scss";
@import "partials/mixins";
@import "partials/maps";
@import "partials/extend";
@import "partials/nav";
@import "partials/body";
@import "partials/footer";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}