@import "../variables.scss";
/*para clases*/

.nav{
    background-image: linear-gradient(to right, rgb(52, 151, 68), rgb(24, 116, 39), rgb(6, 75, 12));
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 125%;
}
.nav-a{
    text-decoration: none;
    color: white;
}
.main-section-arriba{
    background-image: url(../img/background-main.png);
    border-bottom: 3px solid rgb(78, 90, 255);
}