@import "../variables.scss";
/*para etiquetas y clases con etiquetas*/

$footer:(
    color-letra: white,
    color-fondo: rgb(8, 8, 8),
    espaciado: 30px,
);

footer{
    color: map-get($footer, color-letra);
    background-color: map-get($footer, color-fondo);
    padding: map-get($footer, espaciado);
    display: flex;
    justify-content: space-evenly;
}
.main-index img{
    width: 85%;
    display: block;
    margin: auto;
    padding: 100px;
}
.main-index h1{
    color: white;
    text-align: center;
    font-size: 150%;
    padding-bottom: 110px;
}