@import "../variables.scss";
/*para etiquetas y clases con etiquetas*/

$footer:(
    color-letra: white,
    color-fondo: rgb(8, 8, 8),
    espaciado: 30px,
);

footer{
    color: map-get($footer, color-letra);
    background-color: map-get($footer, color-fondo);
    padding: map-get($footer, espaciado);
    display: flex;
    justify-content: space-evenly;
}
.main-index img{
    width: 85%;
    display: block;
    margin: auto;
    padding: 100px;
}
.main-index h1{
    color: white;
    text-align: center;
    font-size: 150%;
    padding-bottom: 110px;
}
.section-productos h1{
    margin-bottom: 30px;
}
.section-productos-div:hover{
    width: 50%;
}
.section-productos-div h2{
    font-size: 220%;
    border-bottom: 2px solid rgb(0, 156, 5);
    padding: 10px;
    background-color:rgba(7, 0, 110, 0.1);
}
.section-productos-div p{
    font-size: 120%;
}
.section-nosotros h2{
    margin-bottom: 20px;
}
.section-div2 a{
    text-decoration: none;
}
.section-div2 p{
    margin-top: 10px;
    margin-bottom: 10px;
}
form{
    text-align: left;
}